a:visited{
  text-decoration: none;
  color: inherit;
}

.header {

    display: flex;
    justify-content: space-between;
    height: 80px;

}

.menu {
    display: flex;
    /* justify-content: stretch;   */
    max-width: 80%;  
    width: 100%;
}

.list_menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    /* justify-content: flex-end; */
    margin-right: 10rem;
    text-align: center;
    opacity: 0.7;

}

.menu_button_container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  #menu_toggle {
    display: none;
  }

.menu_button,
.menu_button::before,
.menu_button::after {
  display: block;
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  opacity: 0.8;
}

.menu_button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu_button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu_toggle:checked + .menu_button_container .menu_button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu_toggle:checked + .menu-button_container .menu_button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu_toggle:checked + .menu_button_container .menu_button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

.menu_element {
    margin-right: 20px;
    padding-top: 30px;
    display: flex;
    /* justify-content: end; */
    text-transform: uppercase;
    text-align: right;
    z-index: 0;
 
}

.menu_element::after {
    content: "";
    height: 1.5rem;
    border-right: 1px solid;
    margin-left: 20px;
}

.menu_element:hover {
    cursor: pointer;
    color: #146922;   
    opacity: 1;
}

.logo {

}

.logo:hover {
    cursor: pointer;
}

.logo_img {
    width: 160px;

}

@media (max-width: 700px) {
    .menu_button_container {
      display: flex;
    }
    .list_menu {
      position: absolute;
      top: 0;
      margin-top: 80px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 0;
    }

    #menu_toggle:checked ~ .list_menu {
        z-index: 10;        
    }

    #menu_toggle ~ .list_menu .menu_element {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      
    }
    #menu_toggle:checked ~ .list_menu .menu_element {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      
    }

    .list_menu > li {
      display: flex;
      justify-content: right;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .list_menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }

    .menu {
        max-width: 10%;  
        width: 10%;
    }

    .menu_element:hover {
        color: #91db22;   
    }

  }